.article{
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgb(216, 30, 6);
  color: #fff;
  text-decoration: none;
}
li{
  list-style: none;
  white-space: nowrap;
}
li a{
  display: block;
  padding: 2px 8px; 
  text-align: center;
  margin-bottom: 8px;
}
li a:hover{
  color: #fff;
}
a:active {
  color: #fff;
}
.main{
  height: 100%;
  display: flex;
}